<html>
  <head>
    <title>Breakify Wave Hunter</title>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/960.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/text.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css"/>
  </head>

  <body>
    <div class="container_12" id="container">
      <div class="inner" id="inner">
        <nav class="grid_12" id="title-nav">
          <h1>Breakify - Wave Hunter</h1>
        </nav>
        <div class="grid_2" id="left-column">
          <ul id="main-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
          </ul>
        </div>

        <div class="grid_8" id="right-column">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
