{% extends "base.html" %}
{% block content %}
<p>
The matching breaks for your search criteria are:
</p>

{% for break in matching_breaks %}
	<h2>{{break.name}}
	</h2>
	<p>Rank: {{break.rank}}</p>
	<p>Wind Speed: &lt;{{break.wind_speed}}</p>
{% endfor %}

{% endblock %}
