{% extends "base.html" %}
{% block content %}
<p>
Here is where you'll search for waves.
</p>

<form action="/do_search" method = "post">
{% csrf_token %}
<p>
	<label> What is the wind direction? </label>
	<select name="wind_direction">
	{% for compass_direction in all_compass_directions %}
		<option value = "{{compass_direction.id}}">{{compass_direction.name}}</option>
	{% endfor %}
	
	</select>
</p>
<p>
	<label> What is the wind speed? </label>
	<input type="text" name="wind_speed"/>
</p>
	<input type="submit" value = "GO NOW"/>
</form>
{% endblock %}
