body {
  font-family: 'Dosis', sans-serif;
}

.container_12 {
}

.inner {
  margin: 25px;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 30px;
  min-height: 600px;
}

nav#title-nav {
  text-align: center;
  margin-top: 50px;
  height: 130px;
  overflow: hidden;
  margin-bottom: 20px;
}

#title-nav h1{
  color: blue;
}

nav#title-nav h1 {
  font-size: 4em;
  font-weight: 100;
  margin-bottom: 0px;
}

#left-column {
}

#right-column {
  padding-left: 30px;
  font-size: 1.2em;
}

#main-nav li{
  list-style-type: none;
}

#main-nav li a {
  text-decoration: none;
  padding: 5px;
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 100;
}

.clear {
  clear: both;
}
